body {
    background-color: #333;
    color: #eee;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 50px;
    font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', 'Noto Serif Tangut', sans-serif;
}

h1,
h2,
h3 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

h1 {
    margin: 0 auto;
}

a {
    color: #eee;
}

header {
    margin: 10px 0;
}

/* Input section */
#input-section {
    display: flex;
    font-size: 1.2em;
}

#inse-description {
    flex-shrink: 0;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inse-sentence {
    display: block;
    width: 100%;
    margin-right: 10px;
    font-family: inherit;
    box-sizing: border-box;
    resize: none;
}

#inse-analyze {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inse-analyze button {
    display: block;
    font-size: 1em;
}

@media screen and (max-width:700px) {
    #input-section {
        flex-direction: column;
        align-content: center;
    }

    #input-section #inse-description {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 0 auto;
    }

    #inse-sentence {
        margin-right: 0px;
        margin-top: 10px;
        height: 29px;
    }

    #inse-analyze {
        margin-right: 0px;
        margin-top: 10px;
    }
}

/* Display section */
#glyph-table {
    margin: 10px auto;
    border: 1px solid #eee;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    display: none;
}

#glyph-table tr {
    padding: 0;
    margin: 0;
}

#glyph-table tr td {
    margin: 0;
    padding: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #eee;
    white-space: nowrap;
}

#glyph-table tr td:first-child {
    font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', sans-serif;
}

#glyph-table tr td:last-child {
    text-align: left;
}

@media screen and (max-width:700px) {
    #glyph-table tr td {
        width: 0;
        height: 0;
        white-space: normal;
    }

    #glyph-table tr td:last-child {
        width: 100%;
    }
}